<%
	columns = [
		{ width: 140, label: "Zip" },
		{ width: 100, label: "City" },
		{ width: 175, label: "State" },
		{ width: 175, label: "County" },
	]
%>

<div class="row">
	<div class="col-md-6">
		<div class="grapple">
			<%= table_for(columns, @zip_codes, builder: Grapple::DataGridBuilder) do |t| %>
				<%= t.colgroup %>
				<%= t.header %>
				<%= t.footer %>
				<%= t.body do |zip_code| %>
					<td><%= zip_code.zip %></td>
					<td><%= zip_code.city %></td>
					<td><%= zip_code.state.name rescue "" %></td>
					<td><%= zip_code.county %></td>
				<% end %>
			<% end %>
		</div>
	</div>
  <div class="col-md-6">
		<%= code_tabs(['app/controllers/pagination_controller.rb', 'app/views/pagination/index.html.erb']) %>
	</div>
</div>