<%
	columns = [
		{ width: 140 },
		{ width: 100 },
		{ width: 175 },
		{ width: 300 },
	]
%>


<div class="row">
	<div class="col-md-6">
		<div class='grapple'>
			<%= table_for(columns, @states, builder: Grapple::HtmlTableBuilder) do |t| %>
				<%= t.colgroup %>
				<%= t.header do %>
					<tr>
						<th>Name</th>
						<th>Code</th>
						<th>Created At</th>
						<th></th>
					</tr>
				<% end %>
				<%= t.footer %>
				<%= t.body do |state| %>
					<td><%= state.name %></td>
					<td><%= state.code %></td>
					<td><%= state.created_at %></td>
					<td>
						<%= link_to 'Show', state_path(state) %><br>
						<%= link_to 'Edit', edit_state_path(state) %><br>
						<%= link_to 'Destroy', state_path(state), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="col-md-6">
		<%= code_tabs(['app/controllers/basic_html_controller.rb', 'app/views/basic_html/index.html.erb']) %>
	</div>
</div>
