<%
	columns = [
		{ width: 140, label: "Name"},
		{ width: 100, label: "Code"},
		{ width: 200, label: "Created At"},
		{ width: 300 },
	]
%>

<div class="row">
	<div class="col-md-6">
  	<div class="grapple">
			<%= table_for(columns, @states, builder: Grapple::DataGridBuilder) do |t| %>
				<%= t.header do %>
					<%= t.toolbar do %>
						<%= t.search_form(form_options: {method: 'get'}) %>
					<% end %>
				<% end %>
				<%= t.colgroup %>
				<%= t.column_headings  %>
				<%= t.footer %>
				<%= t.body do |state| %>
					<td><%= state.name %></td>
					<td><%= state.code %></td>
					<td><%= state.created_at %></td>
					<td>
						<%= link_to 'Show', state_path(state) %><br>
						<%= link_to 'Edit', edit_state_path(state) %><br>
						<%= link_to 'Destroy', state_path(state), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				<% end %>
			<% end %>
		</div>
	</div>
  <div class="col-md-6">
		<%= code_tabs(['app/controllers/search_controller.rb', 'app/views/search/index.html.erb']) %>
	</div>
</div>