<p id="notice"><%= notice %></p>

<p>
  <strong>Zip:</strong>
  <%= @zip_code.zip %>
</p>

<p>
  <strong>City:</strong>
  <%= @zip_code.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @zip_code.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @zip_code.state_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @zip_code.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @zip_code.longitude %>
</p>

<%= link_to 'Edit', edit_zip_code_path(@zip_code) %> |
<%= link_to 'Back', zip_codes_path %>
