<h2>HtmlTableBuilder</h2>
<ul>
	<li><%= link_to "Basic HTML Table", basic_html_index_path %></li>
</ul>
<h2>DataGridBuilder</h2>
<ul>
	<li><%= link_to "Sorting", sorting_index_path %></li>
	<li><%= link_to "Searching", search_index_path %></li>
	<li><%= link_to "Pagination", pagination_index_path %></li>
</ul>
<h2>AjaxDataGridBuilder</h2>
<ul>
	<li><%= link_to "AJAX", ajax_index_path %></li>
	<li><%= link_to "AJAX w/History", ajax_history_index_path %></li>
	<li><%= link_to "AJAX w/Ransack Searching", ransack_index_path %></li>
</ul>
<h2>Ransack Search</h2>



<%= link_to 'Everything', controller: 'articles' %>