<%
	columns = [
		{ width: 140, label: "Name", sort: "name" },
		{ width: 100, label: "Code", sort: 'code' },
		{ width: 200, label: "Created At", sort: "created_at" },
		{ width: 160 },
	]
%>

<div class="row">
	<div class="col-md-6">
	  	<div class="grapple">
			<%= table_for(columns, @states, builder: Grapple::DataGridBuilder) do |t| %>
				<%= t.colgroup %>
				<%= t.header do %>
					<%= t.column_headings  %>
				<% end %>
				<%= t.footer %>
				<%= t.body do |state| %>
					<td><%= state.name %></td>
					<td><%= state.code %></td>
					<td><%= state.created_at %></td>
					<td>
						<%= link_to 'Show', state_path(state) %> | 
						<%= link_to 'Edit', edit_state_path(state) %> | 
						<%= link_to 'Destroy', state_path(state), method: :delete, data: { confirm: 'Are you sure?' } %>
					</td>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="col-md-6">
		<%= code_tabs(['app/controllers/sorting_controller.rb', 'app/views/sorting/index.html.erb']) %>
	</div>
</div>
 

