<!DOCTYPE html>
<html>
<head>
  <title>Grapple Demos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= yield(:page_head) %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		Grapple Demos
	</div>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
